
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100vw;
}

.container-grid {
    width: 35vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}




.row {
    display: flex;
    flex: 1;
}

.square {
    border: 2px solid black;
    flex: 1;
    margin: 0px;
    padding: 0px;
}